@model Alumno

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="card">
        <div class="card-header">
            <h3>@Model.Nombre</h3>
            <span class="text-muted">@Model.Id</span>
        </div>
    </div>

</div>



